@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #EBEDED;
}

* {
	box-sizing: border-box;
}

/* Common classes */
.page-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.page-header {
	background: #c0392b;
}

.page-header .top-nav {
	padding: 0;
	background: #333;
	height: 22px;
	position: relative;
}
.page-header .top-nav .left-nav {
	margin: 0;
	padding: 0;
	float: left;
}
.page-header .top-nav .left-nav .expandable-nav-toggler {
	float: left;
	border: none;
	padding: 4px 7px;
	outline: 0;
	margin: 0 10px 0 0;
	cursor: pointer;
}
.page-header .top-nav .left-nav .expandable-nav {
	position: absolute;
	top: 22px;
	margin: 0;
	padding: 0;
	background: white;
	min-width: 100px;
}
.page-header .top-nav .left-nav .expandable-nav li {
	list-style: none;
}
.page-header .top-nav .left-nav .expandable-nav li a {
	color: #444;
	padding: 4px 10px;
	display: block;
	width: 100%;
}
.page-header .top-nav .left-nav .expandable-nav li a:hover {
	background: #e74c3c;
	color: white;
}
.page-header .top-nav .left-nav > li {
	float: left;
	list-style: none;
}
.page-header .top-nav .left-nav a {
	color: white;
	text-decoration: none;
	font-size: 11px;
	font-weight: 400;
	padding: 0;
	margin-right: 10px;
}
.page-header .top-nav .right-nav {
	float: right;
	margin: 0;
	padding: 0;
}

.page-header .page-logo {
	color: white;
	font-weight: 300;
	margin-top: 0;
	padding: 65px 30px 30px 30px;
}

.page-footer {
	border-top: 1px solid #ccc;
	padding-top: 15px;
	text-align: center;
	clear: both;
}

.main-section {
	margin-bottom: 30px;
}

.copyright {
	font-size: 14px;
}

.box {
	background: white;
	padding: 20px;
	border-radius: 3px;
	border-bottom: 2px solid #DEDEDE;
}

.posts {
	width: 65%;
	float: left;
}

.category-controls {
	width: 30%;
	float: right;
}

/* Clearfixes */
.group:after {
  content: "";
  display: table;
  clear: both;
}