@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #EBEDED;
}

* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

/* Common classes */
.error {
	padding: 20px;
	color: #e74c3c;
}
.error a {
	color: #e74c3c;
	font-weight: 600;
}
.error a:hover {
	text-decoration: underline;	
}
.post {
	width: 67.5%;
	padding: 20px 15px;
	border-bottom: 1px solid #EBEBEB;
	font-size: 14px;
	float: left;
	position: relative;
}
.post .post-title {
	font-size: 20px;
	margin: -3px 0 4px 0;
	color: #3f51b5;
	font-weight: 400;
}
.post .post-body {
	padding: 10px 0;
	margin-top: 10px;
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
}
.post .post-content {
	width: calc(100% - 40px); /* 100% - (width + padding) of .vote */
}
.post footer {
	margin-top: 10px;
}
.user-link {
	text-decoration: none;
	color: #2ecc71;
}
.user-link:hover {
	text-decoration: underline;
}
.post .comment-link {
	display: block;
	color: #3f51b5;
	text-decoration: none;
	font-weight: 700;
	margin-top: 4px;
}
.post .comment-link:hover {
	text-decoration: underline;
}
.post .post-content {
	float: left;
	padding-left: 10px;
}
.post-content .edit-post-link {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #3f51b5;
}
.vote {
	padding: 0 5px 5px 5px;
	width: 30px;
	float: left;
	color: rgba(0,0,0,0.54);
}
.vote .vote-toggler {
	display: block;
}
.active {
	color: #3f51b5 !important;
}
.vote .vote-score {
	padding: 5px 0 5px 3px;
	display: block;
}
.post-preview {
	padding: 20px 15px;
	border-bottom: 1px solid #EBEBEB;
	font-size: 14px;
	position: relative;
}
.post-preview:last-of-type {
	border: none;
}
.post-preview .post-content {
	float: left;
	padding-left: 10px;
}
.post-preview .comment-link {
	display: block;
	color: #3f51b5;
	text-decoration: none;
	font-weight: 700;
	margin-top: 4px;
}
.post-preview .comment-link:hover {
	text-decoration: underline;
}
.post-preview .user-link {
	text-decoration: none;
	color: #2ecc71;
}
.post-preview .user-link:hover {
	text-decoration: underline;
}
.post-preview .vote {
	padding: 0 5px 5px 5px;
	width: 30px;
	float: left;
}
.post-preview .vote > * {
	display: block;
	color: #999;
}
.post-preview .vote .vote-score {
	padding: 5px 0 5px 3px;

}
.post-preview .post-title {
	font-size: 20px;
	margin: -3px 0 4px 0;
	color: #3f51b5;
	font-weight: 400;
}

.entry {
	max-width: 600px;
	margin: 0 auto;
}
.entry h2 {
	font-weight: 300;
	font-size: 28px;
	margin: 0 0 15px 0;
}
.entry input, .entry textarea {
	width: 100%;
	border: 1px solid #dedede;
	margin-bottom: 5px;
	padding: 10px;
}
.entry button {
	width: 100%;
	padding: 10px 25px;
	background: #3f51b5;
	color: white;
	border-radius: 3px;
	border: 0;
	font-weight: 300;
	font-size: 12px;
}

.category-controls {
	position: relative;
}
.category-controls .category-name {
	margin: 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #DEDEDE;
}
.category-controls .category-description {
	margin-top: 8px;
}
.category-controls .edit-post-link {
	position: absolute;
	top: 20px;
	right: 20px;
}
.category-controls .new-post-btn {
	width: 100%;
	padding: 10px 15px;
	background: #3f51b5;
	color: white;
	border-radius: 2px;
	border: 0;
	font-weight: 300;
	font-size: 14px;
	display: block;
	text-align: left;
	border-radius: 3px;
	text-transform: uppercase;
}
.category-controls .new-post-btn .icon-pencil {
	float: right;
}
.category-controls .new-post-btn span {
	line-height: 18px;
}


.comments {
	max-width: 750px;
}
.comment {
	margin-bottom: 10px;
}

.comments-sort {
	margin-top: 15px;
}

.new-comment-form {
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 400px;
}
.new-comment-form textarea {
	width: 100%;
	border: 1px solid #dedede;
	margin-bottom: 5px;
}
.new-comment-form button {
	padding: 10px 25px;
	background: #3f51b5;
	color: white;
	border-radius: 3px;
	border: 0;
	font-weight: 300;
	font-size: 12px;
}

.page-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.page-header {
	background: #3f51b5;
	margin-bottom: -60px;
}

.page-header .top-nav {
	padding: 0;
	height: 22px;
	position: relative;
	background: #303F9F;
}
.page-header .top-nav .left-nav {
	margin: 0;
	padding: 0;
	float: left;
}
.page-header .top-nav .left-nav .expandable-nav-toggler {
	float: left;
	border: none;
	padding: 4px 7px;
	outline: 0;
	margin: 0 10px 0 0;
	background: transparent;
	cursor: pointer;
	color: white;
	text-transform: uppercase;
	font-size: 10px;
}
.page-header .top-nav .left-nav .expandable-nav {
	position: absolute;
	top: 22px;
	left: 5px;
	margin: 0;
	padding: 0;
	background: white;
	min-width: 100px;
}
.page-header .top-nav .left-nav .expandable-nav li {
	list-style: none;
}
.page-header .top-nav .left-nav .expandable-nav li a {
	color: #444;
	padding: 4px 10px;
	display: block;
	width: 100%;
}
.page-header .top-nav .left-nav .expandable-nav li a:hover {
	background: #dedede;
	color: #333;
}
.page-header .top-nav .left-nav > li {
	float: left;
	list-style: none;
}
.page-header .top-nav .left-nav a {
	color: white;
	text-decoration: none;
	font-size: 11px;
	font-weight: 400;
	padding: 0;
	margin-right: 10px;
}
.page-header .top-nav .right-nav {
	float: right;
	margin: 0;
	padding: 0;
}
.page-header .top-nav .right-nav a {
	color: white;
	font-size: 12px;
	margin-right: 10px;
}

.page-header .page-logo {
	color: white;
	font-weight: 300;
	margin-top: 0;
	padding: 65px 400px 70px 40px;
}

.page-footer {
	padding: 15px 0 15px 0;
	text-align: center;
	clear: both;
}

.main-section {
	margin-bottom: 30px;
}

.copyright {
	font-size: 14px;
}

.box {
	background: white;
	padding: 20px 15px;
	border-radius: 3px;
	border-bottom: 2px solid #DEDEDE;
}

.group-box {
	background: white;
	border-radius: 3px;
	border-bottom: 2px solid #DEDEDE;
}

.posts {
	width: 67.5%;
	float: left;
}

.category-controls {
	width: 30%;
	float: right;
}

/* Login/Register forms */
.authentication-form {
	max-width: 350px;
	margin: 0 auto;
}
.authentication-form h3 {
	font-size: 22px;
	margin-top: 0;
}
.authentication-form input {
	padding: 8px 14px;
	margin: 0 0 8px 0;
	width: 100%;
}
.authentication-form button {
	width: 100%;
	padding: 10px 25px;
	background: #2980b9;
	color: white;
	border-radius: 2px;
	border: 0;
	font-weight: 600;
	font-size: 16px;
	display: block;
	text-align: center;
	margin-bottom: 10px;
}
.authentication-form .error {
	
}
.authentication-form .login-or-register-link {
	
}

/* Clearfixes */
.group:after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?knu6v6');
	src:url('../fonts/icomoon.eot?knu6v6#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?knu6v6') format('truetype'),
		url('../fonts/icomoon.woff?knu6v6') format('woff'),
		url('../fonts/icomoon.svg?knu6v6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow_drop_down:before {
	content: "\e201";
}
.icon-arrow_drop_up:before {
	content: "\e203";
}
.icon-pencil:before {
	content: "\e900";
}
.icon-search:before {
	content: "\e901";
}
.icon-arrow-up:before {
	content: "\e902";
}
.icon-arrow-down:before {
	content: "\e903";
}
.icon-arrow-right:before {
	content: "\e904";
}
.icon-arrow-left:before {
	content: "\e905";
}

