<section class="posts group-box">
	<article ng-repeat="post in posts | orderBy:'-upvotes.length - downvotes.length'" class="post-preview group">
		<!-- Vote score -->
		<div class="vote">
			<span ng-click="upvotePost(post)" ng-class="{active: post.upvotes.indexOf(currentUser()._id) != -1}" class="icon-arrow-up vote-toggler"></span>
			<span class="vote-score">{{ post.upvotes.length - post.downvotes.length }}</span>
			<span ng-click="downvotePost(post)" ng-class="{active: post.downvotes.indexOf(currentUser()._id) != -1}" class="icon-arrow-down vote-toggler"></span>
		</div>

		<div class="post-content">
			<!-- Title -->
			<a href="{{post.link}}" ng-show="post.link"><h3 class="post-title">{{ post.title }}</h3></a>
			<a href="/c/{{post.category.name}}/posts/{{post._id}}" ng-hide="post.link"><h3 class="post-title">{{ post.title }}</h3></a>

			<!-- Date and author -->
			<span>Submitted at {{ post.created_at | date }} by <a ui-sref="user({ username: post.author.username })" class="user-link">{{ post.author.username }}</a></span>

			<!-- Number of comments -->
			<a ui-sref="post({ category: post.category.name, postId: post._id })" class="comment-link">{{ post.comments.length }} Comments</a>

			<!-- Edit post link, only displays for owners of post -->
			<a ui-sref="editPost({ category: post.category.name, postId: post._id })" ng-show="currentUser()._id == post.author._id"><span class="icon-pencil edit-post-link"></span></a>
		</div>
	</article>

</section>

<aside class="category-controls box">
	<!-- Login button and message if not logged in -->
	<a ui-sref="newCategory" ng-show="isLoggedIn()" class="new-post-btn"><span class="icon-pencil"></span> Submit New Category</a>
	<p ng-hide="isLoggedIn()" class="not-logged-in">To make a new category you need to <a ui-sref="login">login</a></p>
</aside>